services:
  - type: web
    name: my-rails-app
    env: docker
    dockerfilePath: ./Dockerfile
    plan: starter
    autoDeploy: true
    envVars:
      - key: RAILS_ENV
        value: production
      - key: DATABASE_URL
        value: postgresql://postgres.buhqmxvqhdsthzdsylgv:mMdf5Z60g5K9TCsd@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require
      - key: BUNDLE_WITHOUT
        value: "development:test"
      - key: SECRET_KEY_BASE
        value: "<Gere seu secret com `rails secret`>"
    autoDeploy: true
    healthCheckPath: /up

  - type: pserv
    name: salon-api-db
    plan: free
    postgresVersion: 15
    initialDatabase: salon_api_production
    user: postgres
