services:
  - type: web
    name: salon-api
    env: ruby
    plan: free
    buildCommand: "bundle install && bundle exec rails db:prepare"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: salon-api-db
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false
      - key: RAILS_ENV
        value: production
    autoDeploy: true
    healthCheckPath: /up

  - type: pserv
    name: salon-api-db
    plan: free
    postgresVersion: 15
    initialDatabase: salon_api_production
    user: postgres
